.background-img {
  background-image: url("https://static.vecteezy.com/system/resources/thumbnails/033/027/755/small_2x/flat-lay-vegetables-on-white-background-food-and-diet-concept-ai-generated-free-photo.jpg");
  background-size: cover;      /* cover full area */
 /* background-position: center;  center image */
  background-repeat: no-repeat;
                 /* full screen */
}
