<div class="container background-img py-5 d-flex justify-content-center align-content-center w-full">
    <div class="shadow-lg p-5 my-5 me-5 rounded w-25">

      <h3 class="fw-bold text-center"><i class="fa-solid fa-utensils"></i>Cookpedia</h3>
      <form [formGroup]="registerForm" (ngSubmit)="register()">
        <input name="username" formControlName="username" type="text" placeholder="Username" class="form-control mt-4">
        @if (registerForm.get('username')?.errors && registerForm.get('username')?.touched){
          <div class="text-danger mb-3">*Invalid Username</div>
        }
        <input name="email" formControlName="email" type="text" placeholder="Email" class="form-control my-3">
        @if (registerForm.get('email')?.errors && registerForm.get('email')?.touched){
          <div class="text-danger mb-3">*Invalid Email</div>
        }
        <input name="password" formControlName="password" type="text" placeholder="Password" class="form-control mb-3">
        @if (registerForm.get('password')?.errors && registerForm.get('password')?.touched){
          <div class="text-danger mb-3">*Invalid Password</div>
        }
        <button type="submit" class="bg-success btn w-100 text-white">Register</button>
      </form>
    </div>
    <div class="ms-5 mt-5">
      <h2 class="fw-bold mt-5">Create New Account</h2>
      <h5 class="fw-semibold mb-5">What you will get?</h5>
      <ul>
        <li>Different Recipes</li>
        <li>Easy way to Make Recipe</li>
        <li>Save your Favorite Recipes</li>
        <li>Download your Recipes</li>
      </ul>
    </div>
</div>
<app-footer></app-footer>
